.full-width-table {
  width: 82%;
  position: absolute;
  top: 20;
  right: 0;

}
.mat-elevation-z8{
  /*float:right;
  margin-right: 30%;
  margin-top: 10%;
*/
position: relative;
margin-top: 10%;

}


