.comptes{
    left: 300px;
    padding-top: 100px;
    
        width: 82%;
        position: absolute;
        top: 20;
        right: 10px;
}

#cpts{
    
   
    padding: 10px 20px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
    

}

.btn1{
    color: goldenrod;
    font-size: 125%;
    
}

h1{
    color: goldenrod;
    text-align: center;
    font-size: 300%;
}


#cpts td, #cpts th{
    border: 1px solid #ddd;
    padding: 10px;
}

#cpts tr:nth-child(even){
    background-color: #f2f2f2;
}

#cpts tr:hover{background-color: #ddd;}

#cpts th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: goldenrod;
    color: white;
}