<!DOCTYPE html>
<html>
    <header></header>
<body class="bg">
   <div class="head">
    <h1> <i class="fas fa-coins "></i>EMBank</h1>

  </div>
    <div class="page-container">
        <div class="sidebar">
           <div class="list-items">
               <a routerLink="/compte" routerLinkActive="selected" class="list-item">
                <i class="material-icons">credit_card</i>Comptes</a>
               <a routerLink="/solde" routerLinkActive="selected" class="list-item">
                <i class="material-icons">monetization_on</i>Solde</a>
               <a routerLink="/trans" routerLinkActive="selected" class="list-item">
                <i class="material-icons">archive</i>Transactions</a>
               <a routerLink="/virement" routerLinkActive="selected" class="list-item">
                <i class="material-icons">compare_arrows</i>Virement</a>
               <a routerLink="/contact" routerLinkActive="selected" class="list-item">
                <i class="material-icons">mode_comment</i>Contact</a>
               <a routerLink="/discon" routerLinkActive="selected" class="list-item">
                <i class="material-icons">power_settings_new</i>Deconnexion</a>
           </div>
        </div>

    </div>
    
 
</body>
</html>




    
 