

<body class="bg">

  <div class="left"><i class="fas fa-coins"></i>EMBank</div>
  <div class="right">

     <h2>Log In</h2>
  
     <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
         <div class="form-group">
          
             <input type="text" formControlName="username" placeholder="Entrer Nom d'utilisateur" class="form-control" />
          
         </div>
         <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
       <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
          <div class="form-group">
                
              <input type="password" formControlName="password" placeholder="Entrer Mot de passe" class="form-control"  />

         </div>
         <div class="form-group">
               <button mat-raised-button class="btn btn-primary" type="submit"  [disabled]="loginForm.invalid">
                     
                           Se connecter
               </button>
               <a routerLink="/forgot" >Mot de passe Oublié  ?</a>
         </div>
     </form>
  </div>
</body>