/*
.login-box{

    width: 500px;
    height: 450px;
    position: absolute;
    top: 40%;
    left:17%;
    transform: translate(-50%,-50%);
    padding: 50px 60px;

}


.left{
    float:right;
    margin-right:15%;
    margin-top:18%;
    font-size: 100px;
    color:goldenrod;
}
.right{
    width: 500px;
    height: 450px;
    position: absolute;
    top: 45%;
    left:25%;
    transform: translate(-50%,-50%);
    padding: 50px 60px;
    border:5px solid goldenrod
}
.btnvv{
    color:  rgb(17, 5, 71);
    text-align: right;
}

.header span {
    margin: 0;
}

.pt-2 .btn {
    width:30%;
    height: 15%;
    border-radius: 3px;
    background: none;

}
.message{

    color: red;

}


.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid;
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color:  rgb(17, 5, 71);
    font-size: 15px;
    width: 300%;
    float: left;
    margin: 10px;

}

.btn{
    width: 50%;
    background: white;
    border: 2px solid;
    color:  rgb(17, 5, 71);
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 12px 0;
    border: radius 2px;

}
*/
.bg{
  overflow: hidden;
}

.left{
  float:right;
  margin-right:15%;
  margin-top:18%;
  font-size: 100px;
  color:goldenrod;
}
.right{
  width: 500px;
  height: 600px;
  position: absolute;
  top: 45%;
  left:25%;
  transform: translate(-50%,-50%);
  padding: 20px 20px;
  border:5px solid goldenrod;

}
h2{
  font-size: 250%;
  margin-left:40%;
  margin-top: 10%;
  color: goldenrod;
  padding: 10px;
}

.form-group{
  padding: 10px 10px;

}

.form-group input{
  border-bottom: 1px solid;
  outline: none;
  background: none;
  color:  rgb(17, 5, 71);
  font-size: 15px;
  width: 70%;
  height: 30px;
  margin-top: 50px;
  margin-left: 70px;
}
.form-group i{
  color: goldenrod;
  font-size: 40px;
}

.form-group button{
  padding: 10px;
  width: 25%;
  margin-top: 90px;
  margin-left: 20px;
  background-color: rgb(253, 250, 250);
  color: goldenrod;
}

.form-group a{
  float: right;
  margin-top: 60px;
}

