<!DOCTYPE html>
 <html lang="en">
 <head>
   
    </head>
     <body>
   <!-- contact section -->
         <section id="contact-section">
           <div class="container">
           	 <h2>Contactez Nous</h2>
              <p>Envoyez-nous un courriel et soyez au courant de nos dernières nouvelles</p>
             <div class="contact-form">

                  <!-- First grid -->
               <div class="icon">
                 <i class="fa fa-map-marker"></i><span class="form-info"> 192 Qr RIYAD Rabat Morocco</span><br>
                 <i class="fa fa-phone" > </i><span class="form-info">  +80 523 666</span><br>
                 <i class="fa fa-envelope"></i><span class="form-info">  embank@gmail.com</span>
               </div>
               
                   <!-- second grid -->
           <div>        
             <form class="tab">
               <input type="text" placeholder="Votre Nom" required>
               <input type="text" placeholder="Votre Prénom"><br>
               <input type="Email" placeholder="Email" required><br>
               <input type="text" placeholder="Sujet de ce message"><br>
               <textarea name="message" placeholder="Message" rows="5" required></textarea><br>
               <button class="submit" >Envoyer</button> 
             </form>   
               </div>
             </div>
           </div>
         </section>

         
     </body>