<div class="center">
  <div class="container">
    <h2>Contactez Nous</h2>

    <form class="tab">
      <input type="text" placeholder="Votre Nom" required>
      <input type="text" placeholder="Votre Prénom"><br>
      <input type="Email" placeholder="Email" required><br>
      <input type="text" placeholder="Sujet de ce message"><br>
      <textarea name="message" placeholder="Message" rows="5" required></textarea><br>
      <button type="reset" class="btn"  routerLink="/contact">Envoyer</button>
    </form>
  </div>

</div>
