<!--
<!DOCTYPE html>
 <html lang="en">
 <head>
   
    </head>
     <body>
   
   <div class="center">
         <section id="contact-section">
           <div class="container">
           	 <h2>Contactez Nous</h2>
              <p>Envoyez-nous un courriel et soyez au courant de nos dernières nouvelles</p>
             <div class="contact-form">

                  
               <div class="icon">
                 <i class="fa fa-map-marker"></i><span class="form-info"> 192 Qr RIYAD Rabat Morocco</span><br>
                 <i class="fa fa-phone" > </i><span class="form-info">  +80 523 666</span><br>
                 <i class="fa fa-envelope"></i><span class="form-info">  embank@gmail.com</span>
               </div>
               
                  
              </div>        
             <form class="tab">
               <input type="text" placeholder="Votre Nom" required>
               <input type="text" placeholder="Votre Prénom"><br>
               <input type="Email" placeholder="Email" required><br>
               <input type="text" placeholder="Sujet de ce message"><br>
               <textarea name="message" placeholder="Message" rows="5" required></textarea><br>
               <button type="reset" class="btn"  routerLink="/contact">Envoyer</button> 
             </form>   
               </div>
            
           
         </section>

        </div>       
     </body>

    -->
<div class="center">
  <div class="container">
    <h2>Contactez Nous</h2>
      
   <form class="tab">
     <input type="text" placeholder="Votre Nom" required>
     <input type="text" placeholder="Votre Prénom"><br>
     <input type="Email" placeholder="Email" required><br>
     <input type="text" placeholder="Sujet de ce message"><br>
     <textarea name="message" placeholder="Message" rows="5" required></textarea><br>
     <button type="reset" class="btn"  routerLink="/contact">Envoyer</button> 
   </form>   
     </div>
  
</div>