.bg{
    background-image: url(../../assets/images/img2.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}
.bgforg{
    width: 500px;
    height: 450px;
    position: absolute;
    top: 40%;
    left:17%;
    transform: translate(-50%,-50%);
    padding: 50px 60px;
       
}
.btn{
    width: 50%;
    background: none;
    border: 2px solid;
    color:  rgb(17, 5, 71);
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 12px 0;
    border: radius 2px;

}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color:  rgb(17, 5, 71);
    font-size: 15px;
    width: 300%;
    float: left;
    margin: 10px;

}