<!DOCTYPE html>
<html>
    <head>
        <title>mot de passe oublier</title>
        <meta charset="UTF 8">
    </head>

<body class="bg">
    <div class="right">
        <h1><i class="fas fa-coins"></i>EMBank</h1>
    </div>
<div class="bgforg">
    <h4 style="color: rgb(17, 5, 71)">Mot de Passe OUBLIE ? </h4>
    <div class="textbox">
        <i class="fas fa-user"></i>
        <input type="number"  placeholder="Account Number" [(ngModel)]="compte" name="" value="">
    </div>

    <div class="textbox">
        <i class="fas fa-phone"></i>
        <input type="tel" placeholder="Numéro de telephone" [(ngModel)]="tel" name="" value="">
    </div>

    <div>
        <button class="btn" type="submit" (click)="onClick()" name="" value="envoyer" >
            <a>envoyer</a>
             
        </button>
    </div>
   
</div>