
h2{
  color:goldenrod;
  margin-top:50px;
  margin-left:-5px;
  font-size: 170%;


}
h3{
  text-align: start ;
  font-size: 150%;
  color: darkblue;
  margin: 5%;


}

.sidenav-container {
  height: 100%;
  background: none;

}
.fo9{
  background: none;

}
.ss{
  width: 0,2%;
  height: 0.1%;
}
.listXd{
  background-color:rgba(0, 0, 0, 0.829);
  color: rgb(206, 166, 65);
  padding:10px;
  height:400px;
  margin-top: 100px;

}
.itm{
  color:rgb(230, 198, 118);
  font-size: 110%;
}
.itm:hover{
  color:gray;

}
.itm.selected{
  background:gray;
}

.itm::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: orange;
  opacity: 0;
  transform:scaleY(0) ;
  transition: transform 0.2s, opacity 0.2s;
}
.itm:hover::before{
  opacity: 1;
  transform: scaleY(1);
}


.sidenav {

  width: 230px;
  background:black;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.tt{
  position: relative;
  top: 26%;
  left: 20%;
  height: auto;
  width:70%;
  border:4px solid goldenrod;



}
.imageedit{
  max-width: 100%;
  height: auto;
  width: 400px;
}
.image1{
  top: 20%;
  float: right;
  margin-left: 10%;
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}


.bg{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

