<!--<div>
        <mat-toolbar color="black"  >
                <button mat-button routerLinkActive="active">
                        <a routerLink="/">Accueil</a>
                </button>
                <button mat-button routerLinkActive="active">
                        <a routerLink="login">Connecter</a> 
                </button>
                <button mat-button routerLinkActive="active">
                        <a routerLink="inscription">Devenir un Client ?</a> </button>
                <button mat-button routerLinkActive="active">Contact </button>                
        </mat-toolbar>
<router-outlet></router-outlet>
</div>


-->

<!DOCTYPE html>
<html>
    <head>
        <title>nouveau Client</title>
        <meta charset="UTF 8">
    </head>

<body>


<menu-nav></menu-nav>
</body>
