.bg{
    background: none;
}
.box{

    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:  rgb(17, 5, 71);
    border:2px solid goldenrod;
    padding: 10px 20px;
    height: 250px;
  }
  select{
      width: 25;
  }
   .form-control{
    border-color:  rgb(17, 5, 71);
    outline: none;
    background: none;
    color: rgb(17, 5, 71);
    font-size: 15px;
    width:250px;
    height: 40px;
    float: left;
    margin-top: 40px;
    top:10%;
    overflow: hidden;
    -ms-overflow-style: none;
     padding: 10px ;
   }
   .select{
       margin-left:10px;
       margin-top: 10px;
       width:250px;
   }

   .select select{
       width: 200px;
   }
