<!DOCTYPE html>
<html>
    <head>
        <title>Solde Form</title>
    </head>
<body>
    <div class="contact-form">
        
       <div class="txtb">
          
           <select name="compte" id="compte">
             <option selected disabled>Séléctionner votre compte</option>
             <option value="c1">C1</option>
             <option value="c2">C2</option>
             <option value="c3">C3</option>
           </select>

       </div>

       <div class="txtb">
        <label>Votre solde est :</label>
        <input  name="number"  >
        
       </div>
       <button class="btn" type="submit" > Voir le relevé</button>
      
    </div>
    <div class="back">
        <button class="btn" type="submit" routerLink="/client" routerLinkActive="active">Précédent</button>
    </div>
    
</body>
