
      <!DOCTYPE html>
<html>
    <head>
        <title>nouveau Client</title>
        <meta charset="UTF 8">
    </head>

<body class="bg">
<div class="box">

    <div class="form-group">
        <!--date du jour-->
        <h1>
        <p>
              Le:  {{todayDate | date:'short'}}
        </p>
        </h1>
    </div>
    <div class="select">
      <label>
        <h3>
            Séléctionner Un Compte:<br>
        </h3>
      </label>

        <select name="compte" id="compte" [(ngModel)]="compte" (change)="showPrice($event.target.value)">
            <option *ngFor="let cmp of acount._embedded.comptes" [value]="cmp.solde" >
                {{cmp.id}}
            </option>
          </select>
    </div>
    <div><br />
      <h2>
        le solde de votre compte est : {{sold}}
      </h2>
    </div>


  </div>
</body>
</html>
