
<!DOCTYPE html>
<html>
    <head>
        <title>nouveau Client</title>
        <meta charset="UTF 8">
    </head>

<body class="bg">

    <div class="left"><i class="fas fa-coins">EMBank</i></div>
    <div class="box">
<form [formGroup]="signupForm" (ngSubmit)="signup()">
    <div class="form-group">
        <i class="fas fa-user"></i>
        <input type="text" class="form-control" placeholder=" Nom et prenom" formControlName="Nom" >
    </div>
    
    <div class="form-group">
            <i class="fas fa-at"></i>
            <input type="email" class="form-control" placeholder=" Email" formControlName="email">
            <label data-error="Champs Obligatoire!"></label>
    </div>
    <div class="form-group">
            <i class="far fa-credit-card"></i>
            <input type="number" class="form-control" placeholder="Numéro du compte" formControlName="numcompt">
            <label data-error="Champs Obligatoire!"></label>
    </div>
    <div class="form-group">
            <i class="far fa-calendar-alt"></i>
        <input type="text" onfocus="(this.type='date')"  onblur="(this.type='text')" class="form-control" placeholder="date de naissance" formControlName="datedenai">
        <label data-error="Champs Obligatoire!"></label>
    </div>
    <div class="form-group">
            <i class="fas fa-phone"></i>

                    <input type="number" class="form-control" placeholder="Numéro Telephone" formControlName="numtel">
                    <label data-error="Champs Obligatoire!"></label>
                </div>
    <div class="form-group">
            <i class="fas fa-lock"></i>
                        <input type="password" class="form-control" placeholder="Mot de passe" formControlName="password">
                        <label data-error="Champs Obligatoire!"></label>
                </div>
    <button type="submit" class="btn" (click)="gotologin()">S'inscrire</button>
</form>

</div>
</body>
</html>