/*div.sm-jumbotron {
    margin:0px;
    padding: 2rem;
    background-color: rgb(3, 6, 8);
    color: rgb(175, 191, 236);
}

button.btn-submit {
    background-color: aliceblue;
    color: white;
    width: 100%;
}

button.btn-submit:focus,button.btn-submit:hover{
    background-color: aliceblue;
}

input.ng-invalid.ng-dirty{
    border-bottom-color: #e91e63 !important;
    box-shadow: 0 3px 0 0 #e91e63 !important;
}
.centreVerticalement {
    display: inline-block;
    vertical-align: middle;
    float: none;
   }*/
   .left{
    float:right;
    margin-right:15%;
    margin-top:18%;
    font-size: 100px;
    color:goldenrod;
}
  .box{
    width: 280px;
    position: absolute;
    top: 45%;
    left: 17%;
    transform: translate(-50%,-50%);
    color:  rgb(17, 5, 71);
    
  }
   .form-control{
    border-color:  rgb(17, 5, 71);
    outline: none;
    background: none;
    color: rgb(17, 5, 71);
    font-size: 15px;
    width: 200%;
    float: left;
    margin: 10px;
    overflow: hidden;
    -ms-overflow-style: none;

   }
   ::placeholder{
    color: rgb(17, 5, 71);

   }
   .btn{
 
 width: 80%;
 background: none;
 border: 2px solid;
 color: rgb(17, 5, 71);
 padding: 5px;
 font-size: 18px;
 cursor: pointer;
 margin: 12px 0;

}

h2{
    color:goldenrod;
    margin-left:30%;
   
}

   