<!--
  <div class="menu-bar">
        <ul>
            <li class="active"><a href="#"><i class="fas fa-home"></i>Accueil</a></li>
            <li><a href="#"><i class="fas fa-user"></i>A propos de nous</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">Notre histoire</a></li>
                        <li><a href="#">Relations internationales</a></li>
                        
                    </ul>
                </div>
            </li>
            <li><a href="#">Compte</a>
               <div class="sub-menu-1">
                   <ul>
                       <li><a href="#">Mon Compte</a></li>
                       <li><a href="#">Mes cartes</a></li>
                       <li><a href="#">Mes opérations</a></li>
                   </ul>
               </div>
            
            </li>
          
            <li><a href="#"><i class="fas fa-clone"></i>Services</a></li>
            <li><a href="#"><i class="fas fa-phone"></i>Contact</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">Numero de telephone</a></li>
                        <li><a href="#">message</a></li>
                        
                    </ul>
                </div>
            </li>
        </ul>
        </div>
  
-->
