<div class="client">
    <h1>Transactions</h1>
    <hr>
    <h4>
        {{todayDate | date:'short'}} 
    </h4>
  <!--
    <div id="rolling_bar">
        <input type="text" id="txt" placeholder="CIN">
        <a routerLink="agent/profileclient" id="btn"  [(ngModel)]="cin">
            <i class="fas fa-search"></i>
        </a>
    </div>
    -->
   
    <table id="customer">
        
        <tr>
            <th *ngFor = "let column of headers">
                {{column}}
    
            </th>
        </tr>
    
        <tr *ngFor = "let row of rows">
            <td *ngFor = "let column of headers">
              {{row[column]}}
    
            </td>
            
        </tr>
        
    </table>
    
    
    
    </div>


