.client{
    left: 300px;
    padding-top: 100px;
    
        width: 82%;
        position: absolute;
        top: 20;
        right: 10px;
      
      
}
#rolling_bar input{
    border: goldenrod solid 2px;
    border-radius: 40px;
    margin-left: 40%;
    width: 250px;
    height: 20px;
}

#btn{
    color: goldenrod;
    font-size: 125%;
    margin-left: 10px;
    
}

.but{
   background-color: gainsboro;
    position: absolute;
    
}
#customer{
    
   
    padding: 10px 20px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 6%;
    margin-left: 0px;

}


 h1{
    color: goldenrod;
    text-align: center;
    font-size: 300%;
}

 #customer td, #customer th{
     border: 1px solid #ddd;
     padding: 10px;
 }


 #customer tr:nth-child(even){
     background-color: #f2f2f2;
 }

 #customer tr:hover{background-color: #ddd;}


 #customer th{
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color: goldenrod;
     color: white;
 }

 .btn{
     background-color: goldenrod;
     margin-top: 5px;
     float: right;
 }

 .button{
     background-color: gainsboro;
     margin-left: 20px;
 }